.DS_Store
node_modules
output
public-dist
$__StoryList.tid
settings/settings.json
tiddlers/subwiki/

# ignore some change from plugin that will only change "modified" field
$__keepstate_*
tiddlers/$__Import.tid
tiddlers/$__layout.json
tiddlers/$__layout.json.meta
tiddlers/$__layout.tid

files/
.env
# for TiddlyWiki
dist/
output/
wiki/**/$__language.tid
wiki/**/$__StoryList.tid
wiki/**/$__StoryList_*.tid
wiki/**/$__palette.tid
wiki/**/$__layout.tid
wiki/**/$__keepstate_*
wiki/**/$__Import.tid
wiki/**/$__UpgradeLibrary
wiki/**/$__UpgradeLibrary_List
wiki/**/$__temp_*
wiki/**/$__view.tid
wiki/**/$__config_Navigation_openLinkFromInsideRiver.tid
wiki/**/$__config_Navigation_openLinkFromOutsideRiver.tid
